<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mapper.CartMapper">

	<!-- 01. 장바구니 전체목록 조회  -->
	<select id="cartList" parameterType="java.util.Map" resultType="map">
		SELECT 
				c.cart_no, c.m_id,  c.cart_date, c.cart_amount, c.product_no
		      	,p.product_name, p.product_price, p.product_dlvyfee
		  FROM 
		  	  	member m, cart c, product p
		 WHERE 
		 		m.m_id = c.m_id AND c.product_no = p.product_no
				AND c.m_id = #{m_id}
		ORDER BY c.cart_no ASC
	</select> 
	
	<!-- 02. 장바구니 추가 -->
	<insert id="cartAdd" parameterType="CartVO">
		INSERT INTO cart (
		            cart_no,cart_amount,cart_date,m_id,product_no
		        ) VALUES (
		            seq_cart_no.NEXTVAL,#{cart_amount},to_char(sysdate,'YYYY-MM-DD'),#{m_id},#{product_no}
		        )
	</insert>

	<!-- 03. 장바구니 수정 -->
	<update id="cartUpdate" parameterType="map">
		UPDATE cart 
		   SET cart_amount = #{cart_amount}
		 WHERE m_id = #{m_id} AND cart_no = #{cart_no}		 
	</update>
	
	<!-- 04. 장바구니 삭제 -->
	<delete id="cartDelete" parameterType="int">
		DELETE from cart
		 WHERE cart_no = #{cart_no}
	</delete>
	
	<!-- 05. 장바구니 확인 -->
	<select id="cartCheck" parameterType="CartVO" resultType="int">
		<!-- 아이디와 상품이 있으면 1, 없으면 0 반환  -->
		SELECT NVL((
		       SELECT 1 from cart 
		       WHERE m_id = #{m_id}  AND product_no = #{product_no} 
		       ), 0) as "cartCheck"
  		  FROM dual<!-- 속도때문에 / 가상테이블 -->
	</select>

</mapper>