<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mybatis.mapper.recipeReplyMapper">
   <!--  댓글조회 -->
   <select id="recipereadReply" resultType="com.vo.RecipeReplyVO">
      select recipe_re_no, recipe_re_content, m_id, recipe_re_date   
      from recipe_reply
      where recipe_no = #{recipe_no}
   
   </select>
   
   <!-- 댓글 작성  -->
   <insert id="recipewriteReply">
      insert into recipe_reply (
                           recipe_no,
                           recipe_re_no,
                           recipe_re_content,
                           recipe_re_pwd,
                           m_id               
          )
      values (               #{recipe_no}
                        , seq_recipe_re_no.nextval
                        , #{recipe_re_content}
                        , #{recipe_re_pwd}
                        , #{m_id}
      
      )
   </insert>

   <!--  특정 댓글 조회 -->
   <select id="recipereadReplySelect" resultType="com.vo.RecipeReplyVO">
      select *
      from recipe_reply
      where recipe_re_no = #{recipe_re_no}
   </select>
   
   <!-- 댓글 수정 -->
   <update id="recipeupdateReply">
      update recipe_reply
      set recipe_re_content = #{recipe_re_content}
      , recipe_re_pwd = #{recipe_re_pwd}
      where recipe_re_no = #{recipe_re_no}
   </update>
   
   <!--  댓글 삭제 -->
   <delete id="recipedeleteReply">
      delete from recipe_reply
      where recipe_re_no = #{recipe_re_no}
   </delete>
</mapper>