<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form action="submit">
    <table id="t_optionInsert" border="1">
      <th>옵션명</th>
      <th>옵션값</th>
      <th>옵션가</th>
      <th>재고수량</th>
      <tr>
        <td><input type="text" name="option_name"></td>
        <td><input type="text" name="option_value"></td>
        <td><input type="text" name="option_price"></td>
        <td><input type="text" name="option_stock"></td>
      </tr>
    </table>
    옵션번호 <input type="text" name="option_no">
    상품번호 <input type="text" name="product_no">
    <br />
    <button>추가</button>
  </form>

  <table id="t_optionList" border="1">
    <th>옵션명</th>
    <th>옵션값</th>
    <th>옵션가</th>
    <th>재고수량</th>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</body>

</html>