<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="productVO" type="com.meaningfarm.mall.product.ProductVO" />
	</typeAliases>
	<mappers>
		<mapper resource="com/meaningfarm/mapper/product.xml" />
		<mapper resource="com/meaningfarm/mapper/option.xml" />
	</mappers>
</configuration>