<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="jdbcTypeForNull" value="NULL"/>
     	<setting name="cacheEnabled" value="false" />
		<setting name="callSettersOnNulls" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
		<setting name="defaultStatementTimeout" value="300" />
	<!-- 	<setting name="mapUnderscoreToCamelCase" value="true"/> -->
    </settings>
    
	<typeAliases>
		<typeAlias alias="mVO" type="com.vo.MemberVO"/>
		<typeAlias alias="recipeVO" type="com.vo.RecipeVO"/>
		<typeAlias alias="productVO" type="com.meaningfarm.mall.product.ProductVO" />
		<typeAlias alias="CartVO" type="com.vo.CartVO" />
		<typeAlias alias="MemProductVO" type="com.vo.MemProductVO" />
		<typeAlias alias="MemProductfileVO" type="com.vo.MemProductfileVO" />
	</typeAliases>
	
	<mappers>
		<mapper resource="com/mybatis/mapper/member.xml"/>
		<mapper resource="com/mybatis/mapper/NoticeMapper.xml"/>
		<mapper resource="com/mybatis/mapper/QnaMapper.xml"/>
		<mapper resource="com/mybatis/mapper/QnaReplyMapper.xml"/>
		<mapper resource="com/mybatis/mapper/recipeMapper.xml"/>
		<mapper resource="com/mybatis/mapper/recipeReplyMapper.xml"/>
		<mapper resource="com/mybatis/mapper/categorytype.xml"/>
		<mapper resource="com/mybatis/mapper/categorylocal.xml"/>
		<mapper resource="com/mybatis/mapper/product.xml" />
		<mapper resource="com/mybatis/mapper/NoticeMapper.xml" />
		<mapper resource="com/mybatis/mapper/MemProductMapper.xml" />
		<mapper resource="com/mybatis/mapper/CartMapper.xml" />
	</mappers>
</configuration>