<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>
	<typeAliases>
		<typeAlias alias="mVO" type="com.vo.MemberVO"/>
	</typeAliases>
	<mappers>
		<mapper resource="com/mybatis/mapper/member.xml"/>
		<mapper resource="com/mybatis/mapper/NoticeMapper.xml"/>
		<mapper resource="com/mybatis/mapper/QnaMapper.xml"/>
		<mapper resource="com/mybatis/mapper/QnaReplyMapper.xml"/>
		
	</mappers>
</configuration>